<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generador de Código QR con Imagen</title>
  </head>

  <body>
    <h1>Generador de Código QR con Imagen</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <label for="data">Datos para el código QR:</label>
      <input type="text" id="data" name="data" required />
      <br />
      <label for="image">Imagen (opcional):</label>
      <input type="file" id="image" name="image" />
      <br />
      <button type="submit">Generar QR</button>
    </form>

    {% if qr_image %}
    <h2>Código QR Generado</h2>
    <p>QR de: {{data}}</p>
    <img
      src="data:image/png;base64,{{ qr_image }}"
      alt="Código QR con Imagen"
    />
    <br />
    <a
      href="data:image/png;base64,{{ qr_image }}"
      download="codigo_qr_con_imagen.png"
      >Descargar Código QR con Imagen</a
    >
    {% endif %}
  </body>
</html>
