<div class="container">
  <div class="card text-center">
    <div class="card-header">Gracias por usar el Generador QR</div>
    <div class="card-body">
      <h5 class="card-title">Emerson Espinoza</h5>
      <p class="card-text">© todos los derechos reservados</p>

      <a href="https://github.com/emersonxinay" class="btn btn-dark" target="_blank" rel="noopener noreferrer"> <i
          class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <div class="card-footer text-body-secondary text-light">
      2023 - {{fecha}}
    </div>
  </div>
</div>